
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  figure {
    box-shadow: 1px 0px 7px 1px rgba(56, 93, 110, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
  }

  figure  img {
    width: 100%;
  }
  figure figcaption {
   position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.2rem;
    background: rgba(56, 93, 110, 0.7);
  }

  figure h3 {
    font-size: 2rem;
    margin: 0;
    color: whitesmoke;
  }
</style>

<div class="content" role="main">

  <h1>Rick and Morty Characters</h1>
  <section class="grid">
    <figure *ngFor="let character of characters">
      <img [src]="character.image">
      <figcaption>
        <h3>{{ character.name }}</h3>
      </figcaption>
    </figure>
  </section>


</div>

<router-outlet></router-outlet>
